extends layout

block content
  - var social = profile.profiles.facebook ? 'facebook' : 'twitter';

  .container
    .row
      .span9
        .page-title.clearfix
          img.big-avatar(src=profile.imageUrlRSmall)
          h2= profile.fullName
          a(href='http://twitter.com/' + profile.username, target='_blank')
            | @#{profile.profiles.twitter.username}
          |  - 
          span.location= profile.location || 'Ciudadano Mundial'
          p= profile.profiles.twitter._json.description
      .span2
        .box.sidebar.clearfix
          nav
            a.actividad(href='/profiles/me', class="#{section == 'activity' ? 'selected' : ''}")
              i
              | Actividad
            a.perfil(href='#')
              i
              | Perfil
            a.delegaciones(href='/profiles/me/delegations', class="#{section == 'delegations' ? 'selected' : ''}")
              i
              | Delegaciones
            a.opciones(href='#')
              i
              | Opciones
      .span7
        .box
          .box-content
            block profile_content