!!! 5
html(lang='en')
  head
    //                                                      
    //   Basic Page Needs                                   
    //   ================================================== 
    title Democracia En Red
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='author', content='')
    
    //                                                      
    //   Mobile Specific Metas                              
    //   ================================================== 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    //                                                      
    //   CSS                                                
    //   ================================================== 
    // Boostrap
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    // Custom StyleSheets
    link(rel='stylesheet', href='/socialbuttons/social-buttons.css')
    link(rel='stylesheet', href='/css/v1.css')
    link(rel='stylesheet', href='/css/main.css')
    block page_styles
    // Bootstrap responsive
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    // fav and touch icons
    link(rel="shortcut icon", href="/images/favicon.ico")

    script
      // Get rid of the Facebook residue hash in the URI
      // Must be done in JS cuz hash only exists client-side
      // IE and Chrome version of the hack
      if (String(window.location.hash).substring(0,1) == "#") {
        window.location.hash = "";
        window.location.href=window.location.href.slice(0, -1);
      }
      // Firefox version of the hack
      if (String(location.hash).substring(0,1) == "#") {
        location.hash = "";
        location.href=location.href.substring(0,location.href.length-3);
      }

  body(class=bodyClasses)
    // Start of `Page Content`
    #wrap
      header.navbar.navbar-fixed-top
        .container
          .navbar-inner
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            h1#logo
              a(href='/') Democracia en Red
            a.brand.hidden-desktop(href='/') Democracia en Red

            .nav-collapse.collapse
              ul.nav#navigation
                li.active
                  nav
                    a.votaciones(href='#')
                      i
                      | Explore
                li
                  nav
                    a.how-it-works(href='http://wiki.partidodelared.org', target="_blank")
                      i
                      | Docs
                li
                  nav
                    a.how-it-works(href='http://github.com/DemocraciaEnRed/app', target="_blank")
                      i
                      | Contribute

              ul.nav.pull-right
                - if (locals.citizen)
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                      span(style="margin-right:5px;"): img(src=citizen.avatar, width="18")
                      | #{citizen.fullName}
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Compose Proposal
                      li.divider
                      li.nav-header Citizen Profile
                      li
                        a(href='#') Edit
                      li
                        a(href='#') View Public
                      li
                        a(href='#') Delegations
                      li.divider
                      li.nav-header Preferences
                      li
                        a(href='#') Settings
                      li
                        a(href='#') About
                      li.divider
                      li: a(href=url('/logout')) Logout
                - else
                  li.login: nav
                    a.nav(href="/auth/facebook", class="sb sb-small sb-facebook")
                      i
                      | Log in

      .container
        block content

      .push-down

    footer
      | Copyright © 2009-2013 Partido De La Red.

    // End of `Page Content`  
    // ====================== 
    // Start of `Javascripts` 
    block bottom_js

      //- Core 3rd parties libs
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
      script(src='bootstrap/js/bootstrap.min.js')

      //- Plugins on top of 3rd parties
      script(src="/js/vendor/masonry/jquery.masonry.min.js")

      //- General Site javascript
      script(src='/js/site.js')

    // End of `Javascripts`