.signin-container.inner-container.small-container
  #signin-form
    .title-page
      .circle
        i.icon-signin
      h1= t('signin.login')

    form.form(action="/api/signin", method="post", role="form", autovalidate='autovalidate', autosubmit='autosubmit')
      ul.form-errors
      .form-group
        label= t('signup.email')
        input.form-control(type='text', name='email', tabindex=1, placeholder=t('forgot.mail.example'), validate='required email')
      .form-group
        .forgot: a(href='/forgot', tabindex=4) #{t('forgot.question')}
        label= t('password')

        input.form-control(type='password', name='password', tabindex=2, placeholder=t('password'), validate='required')
      .form-group: .signup
        span=t('signin.dont-have-account')
        a(href='/signup', tabindex=5) #{t('signin.action.signup')}
      .form-group: button.btn.btn-block.btn-primary.btn-lg(tabindex=3)=t('signin.login')
