extends layout

block aside
	nav.sidebar-nav
		ul.nav.navlist
			- each p in proposals
				- var active = p.id === proposal.id ? 'active' : '';
				li(class=active)
					a(href="/proposal/"+p.id)
						span.title=p.title
						span.created-by
							| Creador por #{p.author.fullName} 
							span.ago(data-time=p.createdAt.toString())
		

		

block content
	article.proposal
		h2=proposal.title

		.meta-data
			a(href="").meta-item.meta-time 10 days left
			a(href="").meta-item.meta-location Buenos Aires, Argentina

			a(href="").meta-item.meta-delegation Delegated on #{proposal.author.fullName}
			a(href="").meta-item.meta-tag ##{proposal.tag.hash}

		//- .voting-process
			//- span.

		//- Mejorar esto!
		- var lines = proposal.essay.split('\n');
		- each line in lines
			- if (line.trim())
				p=line.trim()

		hr 

		footer.footer-notes  
			h5 Referencias
			ol 
				li Referencia 1: http://wikipedia.org
				li Referencia 2: http://wikipedia.org
				li Referencia 3: http://wikipedia.org
				li Referencia 4: http://wikipedia.org
				li Referencia 5: http://wikipedia.org
				li Referencia 6: http://wikipedia.org

		.participants
			- if ( 1 === proposal.participants.length )
				span 1 Participant 
			- else
				span #{proposal.participants.length} Participants 

			- each participant in proposal.participants
				a(href="javascript:void();").participant-profile
					img(src=participant.avatar).avatar

		p.share-links
			strong Share: 
			a(href="") Facebook 
			a(href="") Twitter 
			a(href="") Google Plus 

	.proposal-options
		.vote-box
			h5 Vote
			.vote-options
				a(href="#").vote-option.vote-yes
					span Yes
				a(href="#").vote-option.vote-no
					span No

		//- h5 Delegations

		.results-box
			h5 Results
			canvas(id="myChart", width="200", height="220")

			script 
				var ctx = document.getElementById("myChart").getContext("2d");
				var data = [
					{
						value: 60,
						color:"#a4cb53",
						label: "YES",
						labelColor: "white",
						labelAlign: "center"
					},
					{
						value : 40,
						color : "#d95e59",
						label: "NO",
						labelColor: "white",
						labelAlign: "center"
					}			
				]
				new Chart(ctx).Pie(data);


	.comments
		form.comment-form(method='post', action='/api/proposal/' + proposal.id + '/comment')
			h5 Tu comentario 
			p 
				textarea(name="comment[text]")
			input(type="submit", value="Submit Comment").btn


		h4 Comments 
		ul.media-list.comment-list
			- each comment in comments
				li.media.comment-item
					a(href="javascript:void();").pull-left
						img(src=comment.author.avatar).avatar

					.media-body
						h5.media-heading
							| #{comment.author.fullName} 
							small.ago(data-time=comment.createdAt.toString())
							small :
						p=comment.text




