.proposal-options
  .vote-box
    h5 Vote
    - var hide = ''
    - if(locals.citizen && ~proposal.vote.census.indexOf(citizen.id))
      - hide = 'hide';
      .meta-data
        - if(~proposal.vote.positive.indexOf(citizen.id))
          p.alert.alert-success(style="margin:0;") Has votado a favor de esta propuesta.
        - else
          p.alert.alert-error(style="margin:0;") Has votado en contra de esta propuesta.
        a.meta-item.change-vote(href="#")
          small Deseo cambiar mi voto.

    .vote-options(class=hide)
      .direct-vote
        a.vote-option.vote-yes(href="#", data-proposal=proposal.id)
          i.flaticon.solid.thumbs-up-1
          span Positive
        a.vote-option.vote-abstain(href="#", data-proposal=proposal.id)
          i.flaticon.solid.pause
          span Abstain 
        a.vote-option.vote-no(href="#", data-proposal=proposal.id)
          i.flaticon.solid.thumbs-up-1
          span Negative
      .proxy-vote
        a.vote-option.delegate-vote(href="#", data-proposal=proposal.id)
          i.flaticon.solid.thumbs-up-1
          span Delegate
    .delegation-box.hide
      label Delegate to
      input.delegation-input(type="text", name="q")