- var census = ( proposal.votes
-   && proposal.votes.map(function(v) { return v.author }) )
-   || proposal.vote.census

- var positives = ( proposal.upvotes
-   && proposal.upvotes.map(function(v) { return v.author }) )
-   || proposal.vote.positive

- var negatives = ( proposal.downvotes
-   && proposal.downvotes.map(function(v) { return v.author }) )
-   || proposal.vote.negative

- var neutrals = ( proposal.abstentions
-   && proposal.abstentions.map(function(v) { return v.author }) )
-   || []

- var participants = proposal.participants

- var closed = proposal.closingAt && +new Date(proposal.closingAt) < Date.now()
- var voted = locals.citizen && ~census.indexOf(citizen.id)

.inner-container
    
  .proposal-options
    .vote-box
      .meta-data(class= !!citizen.id ? '' : 'hide')
        - if(~positives.indexOf(citizen.id))
          .alert.alert-success #{t('You voted Yea')}.
        - else if (~negatives.indexOf(citizen.id))
          .alert.alert-danger #{t('You voted Nay')}.
        - else if (~neutrals.indexOf(citizen.id))
          .alert.alert-info #{t('You abstained from voting')}.

        a.meta-item.change-vote(href="#", class= voted && !closed ? '' : 'hide')
          i.icon-refresh
          small #{t('I want to change my vote')}.

      .vote-options(class= voted || closed ? 'hide' : '')
        h5= t('Vote')
        .direct-vote
          a.vote-option.vote-yes(href="#", data-proposal=proposal.id)
            i.flaticon.solid.thumbs-up-1
            span= t('Yea')
          a.vote-option.vote-abstain(href="#", data-proposal=proposal.id)
            i.flaticon.solid.pause
            span= t('Abstain')
          a.vote-option.vote-no(href="#", data-proposal=proposal.id)
            i.flaticon.solid.thumbs-up-1
            span= t('Nay')
      //-   .proxy-vote
      //-     a.vote-option.delegate-vote(href="#", data-proposal=proposal.id)
      //-       i.flaticon.solid.thumbs-up-1
      //-       span= t('Delegate')
      //- .delegation-box.hide
      //-   label= t('Delegate to')
      //-   input.delegation-input(type="text", name="q")

      .votes-cast
        em.text-muted= t('{num} votes cast', { num: census.length || "0" })
    
    - if (!citizen.id)
      p.text-mute.hide= t('You must be signed in to vote on this law')
        | . 
        a(href="/signin")= t('Login')
        |  or 
        a(href="/signup")= t('Signup')
        | .

    - if (closed)
      .results-box.row.clearfix
        p.alert.alert-info(class=census.length ? 'hide' : ''): label= t('No votes cast')
        .results-chart(class= census.length ? '' : 'hide').col-sm-6
          canvas#results-chart(width="200", height="200")
        .results-summary(class= census.length ? '' : 'hide').col-sm-6
          - if (positives.length)
            h5= t('Yea')
            - var width = census.length ? (positives.length/census.length)*100 : 0;
            - var s = 1 === positives.length ? '' : 's'
            .progress
              .progress-bar.progress-bar-success(role="progress-bar", aria-valuenow=positives.length, aria-valuemin="0", aria-valuemax=census.length, style="width: #{width}%;")
                span
                  | #{positives.length} 
                  | #{t('vote') + s}
          - if (negatives.length)
            h5= t('Nay')
            - var width = census.length ? (negatives.length/census.length)*100 : 0;
            - var s = 1 === negatives.length ? '' : 's'
            .progress
              .progress-bar.progress-bar-danger(role="progress-bar", aria-valuenow=negatives.length, aria-valuemin="0", aria-valuemax=census.length, style="width: #{width}%;")
                span
                  | #{negatives.length} 
                  | #{t('vote') + s}
          - if (neutrals.length)
            h5= t('Abstain')
            - var width = census.length ? (neutrals.length/census.length)*100 : 0;
            - var s = 1 === neutrals.length ? '' : 's'
            .progress
              .progress-bar(role="progress-bar", aria-valuenow=neutrals.length, aria-valuemin="0", aria-valuemax=census.length, style="width: #{width}%; background-color: #666;")
                span
                  | #{neutrals.length} 
                  | #{t('vote') + s}