.proposal-options
  .vote-box
    h5 Vote
    - var hide = ''
    - var census = ( proposal.votes
    -   && proposal.votes.map(function(v) { return v.author }) )
    -   || proposal.vote.census
    - var positives = ( proposal.upvotes
    -   && proposal.upvotes.map(function(v) { return v.author }) )
    -   || proposal.vote.positive
    - var negatives = ( proposal.downvotes
    -   && proposal.downvotes.map(function(v) { return v.author }) )
    -   || proposal.vote.negative
    - var neutrals = ( proposal.abstentions
    -   && proposal.abstentions.map(function(v) { return v.author }) )
    -   || []
    - if(locals.citizen && ~census.indexOf(citizen.id))
      - hide = 'hide';
      .meta-data
        - if(~positives.indexOf(citizen.id))
          p.alert.alert-success(style="margin:0;") Has votado a favor.
        - else if (~negatives.indexOf(citizen.id))
          p.alert.alert-danger(style="margin:0;") Has votado en contra.
        - else if (~neutrals.indexOf(citizen.id))
          p.alert.alert-info(style="margin:0;") Te has abstenido de votar.
        a.meta-item.change-vote(href="#")
          small Deseo cambiar mi voto.

    .vote-options(class=hide)
      .direct-vote
        a.vote-option.vote-yes(href="#", data-proposal=proposal.id)
          i.flaticon.solid.thumbs-up-1
          span Positive
        a.vote-option.vote-abstain(href="#", data-proposal=proposal.id)
          i.flaticon.solid.pause
          span Abstain 
        a.vote-option.vote-no(href="#", data-proposal=proposal.id)
          i.flaticon.solid.thumbs-up-1
          span Negative
      .proxy-vote
        a.vote-option.delegate-vote(href="#", data-proposal=proposal.id)
          i.flaticon.solid.thumbs-up-1
          span Delegate
    .delegation-box.hide
      label Delegate to
      input.delegation-input(type="text", name="q")