#laws-wrapper
  .laws-admin
    .row.well.well-lg
      .col-md-3.col-xs-3
        .btn.btn-success.new
          span.glyphicon.glyphicon-plus
          | 
          =t('admin-laws.list.add-topic')
      .col-md-6.col-xs-6
        .input-group.input-group-md
          span.input-group-addon
            i.glyphicon.glyphicon-search
          input.form-control.search(type='text', placeholder='#{t("admin-laws.list.search.placeholder")}', autofocus)
      .col-md-3
        span.sort-label.pull-left.hidden-xs=t('admin-laws.list.sort')
        .btn-group
          button.btn.btn-primary.sort(data-sort='law-date')
            span.glyphicon.glyphicon-time
          button.btn.btn-primary.sort(data-sort='law-title')
            span.glyphicon.glyphicon-font
    .row
      .list.list-group
        - each law in laws
          a.list-group-item(href="/admin/laws/" + law.id, data-lawid=law.id)
            button.btn.btn-default.pull-right.delete-law
              span.glyphicon.glyphicon-trash
            h4.law-title=law.mediaTitle
              small=law.lawId
            - if (law.author)
              span.glyphicon.glyphicon-user
              span.text=law.author
            span.glyphicon.glyphicon-time
            - if (law.closingAt)
              - var date = new Date(law.closingAt)
              - var relative = moment(date).fromNow()
              - var when = (date < Date.now()) ? 'past' : 'future'
              span.text=t('admin-laws.list.close.' + when) + ' ' + relative
            - else
              span.text=t('article.unknown-closing-date')
            span.glyphicon.glyphicon-tag
            span.text.law-id=law.tag.name
            span.law-date.hide=law.createdAt
