#laws-wrapper
  .laws-admin
    .heading
      .circle
        i.icon-paper
      h1= t('admin-laws.list.title')
    ul
      - each law in laws
        li(data-id=law.id)
          a(href="/admin/laws/" + law.id)
            span.law-id=law.tag.name
            - if (law.lawId)
              | #{' - '}
              span.law-id=law.lawId
            - if(law.mediaTitle)
              | #{' - '}
              span.law-title=law.mediaTitle
