html
	head
		meta(name='twitter:card', content='summary')
		meta(name='twitter:site', content='#{config.socialshare.twitter.username}')
		meta(name='twitter:title', content='#{config.socialshare.siteName}')
		meta(name='twitter:description', content='#{config.socialshare.siteDescription}')
		meta(name='twitter:image:src', content='#{config.socialshare.image}')
		meta(name='twitter:domain', content='#{config.socialshare.domain}')