html
	head
		meta(name='twitter:card', content='summary')
		meta(name='twitter:site', content='#{config.socialshare.twitter.username}')
		meta(name='twitter:title', content='#{topic.mediaTitle}')
		meta(name='twitter:description', content=strip(topic.body))
		meta(name='twitter:image:src', content='#{config.socialshare.image}')
		meta(name='twitter:domain', content='#{config.socialshare.domain}')