.email-validation-container.inner-container
  #email-validation-message
    h1= t('signup.welcome', { name: user.firstName })
    p.lead.text-muted #{t('signup.email-validated')}.
    - if (reference)
      p.lead.text-muted= t('signup.being-redirected')
    - else
      p.lead.text-muted= t('signup.now-can-vote')
    p.lead.text-muted #{t('signup.go-to')}
      | #{' '}
      a(href="/")= t('signup.browsing')