.signup-container.inner-container
  #signup-message
    h1= t("Welcome, {name}!", { name: (citizen.firstName ? citizen.firstName : t("Guest"))})
    p.lead.text-muted #{t("Your email has been validated and now you are logged in")}.
    p.lead.text-muted= t("You can now comment and vote on bills!")
    p.lead.text-muted #{t("Go to")} 
      a(href="/")= t("browsing")
