form(action="/auth/local", method="post")
  ul.form-errors
  .form-group
    label= t('Email')
    input(type='email', name='email', placeholder=t('example@email.com'))
  .form-group
    label #{t('Your name')}
    input(type='text', name='fullname', placeholder=t('First and last name'))
  .form-group
    label= t('Password')
    input(type='password', name='password', placeholder=t('Password'))
  .form-group
    label= t('Re-type password')
    input(type='password', name='re_password', placeholder=t('Repeat Password'))
  .form-group: input(type='submit', value=t('Signup now!'))
