.signup-container.inner-container.small-container
  #signup-form
    .title-page 
      .circle
        i.icon-user
      h1= t('Signup with email')
    form.form(action="/signup", method="post", role="form")
      ul.form-errors
      .form-group
        label= t('Email')
        input.form-control(type='email', name='email', tabindex=1, placeholder=t('example@email.com'))
      .form-group
        label #{t('Your name')}
        input.form-control(type='text', id="fullname", name='fullname', tabindex=2, placeholder=t('First and last name'))
      .form-group
        label= t('Password')
        input.form-control(type='password', name='password', tabindex=3, placeholder=t('Password'))
      .form-group
        label= t('Re-type password')
        input.form-control(type='password', name='re_password', tabindex=4, placeholder=t('Repeat Password'))
      .form-group: input.btn.btn-success.btn-block.btn-lg(type='submit', tabindex=5, value=t('Signup now!'))
  #signup-message.hide
    h1 Welcome
    p.lead.text-muted #{t("Your sign up data was received. We sent you an email so you can validate your email address.")}.
    p.lead.text-muted= t("Please check your email (remember to check your spam folder too) and click on the link supplied on the email.")
    //- Switch to this when NetId is implemented
    //- h1= t("Hey!")
    //- p.lead.text-muted #{t("Your sign up data was received")}.
    //- p.lead.text-muted #{t("Now you should validate your identity. To do so, please check the instructions")} 
    //-   a(href="#")= t("here")
