.signup-container
  #signup-message
    - if (Date.now() < +new Date(2013,10-1,18)) {
      //- Valid up to 18/10/2013
      h1= t("Welcome!")
      p= t("You signed up and now you are logged in.")
      p #{t("You can now comment and vote laws from our")} 
        a(href="/")= t("homepage")
    - } else {
      //- Valid from 18/10/2013
      //- This message should be rendered after login or at a PAGE ALERT
      //- not here for sure... and it should check if you are validated or not!
      h1= t("Hey!")
      p= t("Your sign up data was received.")
      p #{t("Now you should validate your identity. To do so, please follow the instructions")} 
        a(href="http://www.partidodelared.org")= t("here")
    - }