.signup-container
  #signup-form
    h1= t('Signup with email')
    form.form(action="/signup", method="post", role="form")
      ul.form-errors
      .form-group
        label= t('Email')
      input.form-control(type='email', name='email', tabindex=1, placeholder=t('example@email.com'))
      .form-group
        label #{t('Your name')}
        input.form-control(type='text', name='fullname', tabindex=2, placeholder=t('First and last name'))
      .form-group
        label= t('Password')
        input.form-control(type='password', name='password', tabindex=3, placeholder=t('Password'))
      .form-group
        label= t('Re-type password')
        input.form-control(type='password', name='re_password', tabindex=4, placeholder=t('Repeat Password'))
      .form-group: input.btn.btn-success(type='submit', tabindex=5, value=t('Signup now!'))
