doctype html5
html(lang='en')
  head
    block head
      //-
      //-   Basic Page Needs
      //-   ==================================================
      title= config.organizationName

      meta(charset='utf-8')
      meta(name='description', content=config.socialshare.siteDescription)

      //-
      //-   Mobile Specific Metas
      //-   ==================================================
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

      //-
      //-   CSS
      //-   ==================================================

      include includes/styles

      //- HTML5 shim, for IE6-8 support of HTML5 elements
      script(src="https://cdn.polyfill.io/v1/polyfill.min.js")

      link(rel="icon", type="image/x-icon", href=config.favicon)

      script.
        var csrfToken = '#{csrfToken}';

      include includes/remove-hash

  body
    block body
      #snap-content.snap-content
        //- Start of `Page Content`
        - var color = config.headerBackgroundColor;
        - var headerClassName = config.headerContrast ? 'with-contrast' : '';
        header.app-header(style=color ? 'background-color: #{color};' : '', class=headerClassName)
        section#content.site-content
          block content
        section#browser.site-content
          section.app-content

      .snap-drawers
        aside.nav-proposal


      //- End of `Page Content`
      //- ======================
      //- Start of `Javascripts`

      //- Core 3rd parties libs
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
      include includes/placeholders
      //- General Site javascript
      script.
        window.config = !{JSON.stringify(client)};
        window.config.locale = '#{locale}';
        window.config.defaultForum = '#{defaultForum}';
        window.translations = !{JSON.stringify(translations)};
      - if (config.segmentKey)
        include includes/segment
      script(src='/app.js')
      //- End of `Javascripts`
  include includes/fonts