doctype html5
html(lang=locale)
  head
    //-
    //-   Basic Page Needs
    //-   ==================================================
    title= config.organizationName

    meta(charset='utf-8')
    meta(name='description', content=config.socialshare.siteDescription)
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

    include includes/analytics

    //-
    //-   Styles
    //-   ==================================================
    block styles

    //- HTML5 shim, for IE6-8 support of HTML5 elements
    script(src='https://cdn.polyfill.io/v1/polyfill.min.js')

    link(rel='icon', type='image/x-icon', href=config.favicon)
    
    
    //-
    //-   Extra header
    //-   ==================================================
    block extraHeader

  body
    //-
    //-   Content
    //-   ==================================================
    block content

    script.
      window.config = !{JSON.stringify(client)};
      window.config.locale = '#{locale}';
      window.config.defaultForum = '#{defaultForum}';
      window.translations = !{JSON.stringify(translations)};
      
    - if (config.segmentKey)
      include includes/segment
      
    - if (config.env !== 'development' && config.warnHTTP && config.protocol !== 'https')
      include includes/ssl-warning
    
    //-
    //-   Scripts
    //-   ==================================================
    block scripts
    
    //-
    //-   Overrideable default Fonts
    //-   ==================================================
    block fonts
      include includes/fonts
