.commands.row
  - if (topic.id)
    .col-sm-4
      a.btn.btn-danger.btn-block.delete-topic(class=topic.privileges && topic.privileges.canDelete ? '' : 'hide')
        span=t('admin-topics-form.delete-topic.button.delete')
  .col-sm-4(class=!forum.privileges.canChangeTopics ? 'hide' : '')
    a.btn.btn-primary.btn-block.make-private(class=topic.public && topic.id && forum.privileges && forum.privileges.canPublishTopics ? '' : 'hide')
      span=t('admin-topics-form.button.make-private')
    a.btn.btn-primary.btn-block.make-public(class=topic.draft && topic.id && forum.privileges && forum.privileges.canPublishTopics ? '' : 'hide')
      span=t('admin-topics-form.button.make-public')
  - if (!topic.id && !forum.privileges.canChangeTopics)
    .col-sm-4
      a.btn.btn-primary.btn-block.auto-save
        span=t('admin-topics-form.button.make-public')
  .col-sm-4(class=forum.privileges.canCreateTopics || topic.privileges.canEdit ? '' : 'hide')
    a.btn.btn-success.btn-block.save
      span=t('admin-topics-form.button.submit')
