doctype html5
html(lang='en')
  head
    //
    //   Basic Page Needs
    //   ==================================================
    title= config.organizationName

    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='author', content='')

    //
    //   Mobile Specific Metas
    //   ==================================================
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

    //
    //   CSS
    //   ==================================================

    // Boostrap Complete
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', rel='stylesheet')

    // Application Styles
    link(rel='stylesheet', href='/app.css')
  body.browser-update
    #browser-update
      .container
        img(src=config.logo)
        .note=t('browser-update.woops')
        p=t('browser-update.ie-old-version-warning')
        p=t('browser-update.in-order-warning')
        ul
          li=t('browser-update.switch-to')
            a(href='http://www.google.com/intl/en/chrome/browser/desktop/index.html',target="_blank") Google Chrome

          li=t('browser-update.switch-to')
            a(href='http://www.getfirefox.com',target="_blank") Firefox

          li=t('browser-update.update-your')
            a(href='http://windows.microsoft.com/en-us/internet-explorer/download-ie',target="_blank") Internet explorer

        p=t('browser-update.why')
        p=t('browser-update.why.newer-browsers')