html
  head
    meta(property='og:title', content=config.socialshare.siteName)
    meta(property='og:type', content='website')
    meta(property='og:url', content=baseUrl)
    meta(property='og:image', content=config.socialshare.image)
    meta(property='og:site_name', content=config.socialshare.siteName)
    meta(property='og:description', content=config.socialshare.siteDescription)
