html
  head
    meta(property='og:title', content=topic.mediaTitle ? topic.extra.numero ? topic.extra.numero + topic.mediaTitle : topic.mediaTitle : config.socialshare.siteName})
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{baseUrl}/topic/#{topic.id}')
    meta(property='og:image', content=topic.coverUrl ? topic.coverUrl : config.socialshare.image)
    meta(property='og:site_name', content='#{config.socialshare.siteName}')
    meta(property='og:description', content=topic.extra.description ? topic.extra.description : config.socialshare.description)
