.comments
  h4= t('Comments')
  ul.media-list.comment-list

  - if (citizen.id)
    form.comment-form(method='post', action='/api/#{context}/#{reference}/comment')
      h5= t('Your comment')
      p 
        textarea(name='text', rows='4')
      input.btn(type='submit', value=t('Send'))