.comments
  .inner-container
    h4= t('comments.arguments')
    ul.media-list.comment-list.main-list
    a.btn.btn-default.btn-xs.toggle-deleted-comments.hide= t('comments.deleted-arguments')
    ul.media-list.comment-list.deleted-list(class='hide')
    - if (citizen.id)
      form.comment-form(method='post', action='/api/#{context}/#{reference}/comment')
        h5= t('comments.your-argument')
        p 
          textarea(name='text', rows='4')
        input.btn.form-submit(type='submit', value=t('Send'))
        span.help-text.form-errors
    - else
      .box
        p.text-mute= t('comments.sign-in-required')
          | . 
          a(href="/signin")= t('Login')
          |  #{t('common.or')} 
          a(href="/signup")= t('Signup')
          | .