- var likes = ~comment.upvotes.map(function(v) { return v.author; }).indexOf(citizen.id)
- var dislikes = ~comment.downvotes.map(function(v) { return v.author; }).indexOf(citizen.id)
- var flags = ~comment.flags.map(function(v) { return v.author; }).indexOf(citizen.id)

li.media.comment-item(data-id=comment.id, class= comment.flags.length > comment.upvotes.length || flags ? 'spam' : '')
  span.pull-left
    img(src=comment.author.avatar).avatar

  .media-body
    h5.media-heading

      a.comment-action.link-report.flag(href="#", alt=t('Spam'), class= flags ? 'selected' : '')
        i.glyphicon.glyphicon-flag 

      | #{comment.author.fullName} 
      small.ago(data-time=comment.createdAt.toString())
      small :
    p.comment-text=comment.text
    p.spam-message=t('This comment has been flagged as spam')
      | .
      span.show-spam: a(href="#")= t('show')
    .comment-actions
      a.comment-action.vote-comment.like(href="#", alt=t('Like'), class= likes ? 'selected' : '')
        i.icon-angle-up
      a.comment-action.vote-comment.dislike(href="#", alt=t('Dislike'), class= dislikes ? 'selected' : '')
        i.icon-angle-down

