.comments
  .inner-container
    - if (citizen.id)
      h4.your-arguments=t('comments.your.arguments')
      ul.my-arguments-list
      form.comment-form(method='post', action='/api/#{context}/#{reference}/comment')
        h5= t('comments.your-argument')
          a.pull-right(href='/help/markdown', target='_blank') #{t('markdown.comments.formatting-help')}
        p
          textarea(name='text', rows='4')
        input.btn.form-submit.pull-right(type='submit', value=t('Send'))
        button.btn.btn-link.cancel-new-argument.pull-right=t('Cancel')
        span.help-text.form-errors
      button.btn.btn-block.new-argument.hide
        i.icon-plus
        =t('comments.new.argument')
    h4.arguments= t('comments.arguments')
    ul.media-list.comment-list.main-list
    a.btn.btn-default.btn-xs.toggle-deleted-comments.hide= t('comments.deleted-arguments')
    ul.media-list.comment-list.deleted-list(class='hide')
    btn.btn.btn-primary.btn-block.load-arguments.hide
      =t('comments.load-more')
    - if (!citizen.id)
      .box
        p.text-mute= t('comments.sign-in-required')
          | . 
          a(href="/signin")= t('Login')
          |  #{t('common.or')} 
          - var signupUrl = '/signup' + (reference ? '?reference=' + reference : '')
          a(href=signupUrl)= t('Signup')
          | .