doctype html5
html(lang='#{locale}')
  head
    block head
      //-
      //-   Basic Page Needs
      //-   ==================================================
      title= config.organizationName

      meta(charset='utf-8')
      meta(name='description', content=config.socialshare.siteDescription)

      //-
      //-   Mobile Specific Metas
      //-   ==================================================
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

      //-
      //-   CSS
      //-   ==================================================
      
      block styles
        include includes/styles

      //- HTML5 shim, for IE6-8 support of HTML5 elements
      script(src='https://cdn.polyfill.io/v2/polyfill.min.js')

      link(rel='icon', type='image/x-icon', href=config.favicon)

      script.
        var csrfToken = '#{csrfToken}'

      include includes/remove-hash

  body
    #root
    
    block body
    
    //- General Site javascript
    script.
      window.config = !{JSON.stringify(client)}
      window.config.locale = '#{locale}'
      window.config.defaultForum = '#{defaultForum}'
      window.translations = !{JSON.stringify(translations)}
      
    - if (config.segmentKey)
      include includes/segment
      
    block scripts
      script(src='/site.js')
    
    block fonts
      include includes/fonts
