#notifications-wrapper.hide(data-section=urlBuilder.for('settings.notifications'))
  .notifications-settings
    .heading
      .circle
        i.icon-lock
      h1=t('settings.notifications.title')
    form.form(action="/api/settings/notifications", method="post", role="form", autosubmit='autosubmit')
      ul.form-messages
      .form-group
        label #{t('settings.notificatinos.get-email-when')}
      .form-group.new-topic.checkbox
        label(for='new-topic') #{t('settings.notifications.new-topic')}
      .form-group.replies.checkbox
        label(for='replies') #{t('settings.notificatoins.someone-replies-your-comments')}
      .form-group: button.btn.btn-success.btn-block.btn-lg(tabindex=4)=t('settings.save')
