div(class='col-sm-#{6*visibility} col-md-#{4*visibility} deployment-item', data-id='#{id}')
  .thumbnail
    .crop
      img(src='#{image}')
    .caption
      .category #{category}
      h3.title
        span #{title}
      .badges.hide
        a(href='#')
          span.glyphicon.glyphicon-comment
          span.badge #{participants}
      p.summary #{summary}
      .url
        a.btn.btn-sm #{fancyUrl}