.resend-container.inner-container.small-container
  #resend-form
    .title-page
      .circle
        i.icon-user
      h1= t('signup.resend-validation-email')
    form.form(action='/api/signup/resend-validation-email', method='post', role='form', autovalidate='autovalidate', autosubmit='autosubmit')
      ul.form-errors
      .form-group
        label= t('signup.email')
        input.form-control(type='text', name='email', tabindex=1, placeholder=t('forgot.mail.example'), validate='required email')
      .form-group: button.btn.btn-success.btn-block.btn-lg(tabindex=2)=t('signup.resend-email')
  #resend-message.hide
    h1= t('signup.email-sent')
    p.lead.text-muted= t('signup.validation-email-resent')
    p.lead.text-muted= t('signup.check-email')
