doctype xml
rss(version='2.0',
    xmlns:content='http://purl.org/rss/1.0/modules/content/',
    xmlns:wfw='http://wellformedweb.org/CommentAPI/',
    xmlns:dc='http://purl.org/dc/elements/1.1/'
    xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    title= config.organizationName
    atom:link(href= baseUrl + '/rss', rel='self', type='application/rss+xml')
    link= baseUrl
    description= config.organizationName
    if topics.length
      pubDate= new Date(topics[0].publishedAt).toUTCString()
    each topic in topics
      - var permalink = baseUrl + '/topic/' + topic.id
      item
        title= topic.mediaTitle
        link= permalink
        pubDate= new Date(topic.publishedAt).toUTCString()
        guid(isPermaLink='true')= permalink
        description= topic.body
