- var tabindex = 1

#tag-wrapper
  .tag-admin
    .heading
      .circle
        i.icon-user
      h1= t(form.title)
    form.form(action=form.action, method="post", role="form", autocomplete="off", autovalidate='autovalidate', autosubmit='autosubmit')
      ul.form-messages
      .form-group
        label= t('admin-tags-form.label.name')
        input.form-control(type='text', id="name", name='name', tabindex=tabindex++, placeholder=t('admin-tags-form.placeholder.name'), value=tag.name, validate='required')
      .form-group
        label= t('admin-tags-form.label.image')
        ul.tag-images
          - each image in images
            li.tag-image
              input.form-control(type='radio', name='image', tabindex=tabindex++, value=image.name, checked= tag.image === image.name, validate='any:image')
              .tag-image-fill
                img(src=image.url)
      .form-group: button.btn.btn-success.btn-block.btn-lg(tabindex=tabindex++)=t('admin-tags-form.button.submit')
