#tag-wrapper
  .tag-admin
    .heading
      .circle
        i.icon-user
      h1= t(form.title)
    form.form(action=form.action, method="post", role="form", autocomplete="off", autovalidate='autovalidate', autosubmit='autosubmit')
      ul.form-messages
      .form-group
        label= t('admin-tags-form.label.name')
        input.form-control(type='text', maxlength='50', id="name", name='name', placeholder=t('admin-tags-form.placeholder.name'), value=tag.name, validate='required')
      .form-group
        label= t('admin-tags-form.label.image')
        .tag-images
          - each image in images
            - const id = 'tag-image-' + image.name
            .tag-image(style='background-image: url(' + image.url + ')')
              input(type='radio', name='image', value=image.name, checked= tag.image === image.name, validate='any:image', id=id)
              label(for=id)
      .form-group
        button.btn.btn-success.btn-block.btn-lg
          = t('admin-tags-form.button.submit')
