#whitelist-wrapper
  .whitelist-admin
    form.form.form-horizontal(action=form.action, method="post", role="form", autocomplete="off", autovalidate='autovalidate', autosubmit='autosubmit')
      ul.form-messages
      .form-group
        label=t('admin-whitelist.type')
        select.form-control(name='tag', tabindex=2, validate='required')
          - each type in [ 'email' ]
            option(selected=(whitelist.type == type) value=type)=type
      .form-group
        label=t('admin-whitelist.value')
        input.form-control(type='text', name='value', value=whitelist.value, validate='required email')
      .form-group
        button.btn.btn-success.btn-block.btn-lg=t('admin-whitelists-form.button.submit')
