.forgot-container
  #forgot-form
    h1= t('Forgot Password?')
    p.text-muted #{t('We will send an email with a link to reset your password')}.
    form(action="/forgot", method="post")
      ul.form-errors
      .form-group
        label= t('Email')
        input.form-control(type='email', name='email', tabindex=1, placeholder=t('example@email.com'))
      .form-group: input.btn.btn-primary(type='submit', tabindex=2, value=t('Reset Password!'))
