.forgot-container.small-container
  #forgot-form
    .title-page
      .circle
        i.icon-signin
      h1= t('forgot.question')
    p.explanation-message #{t('forgot.explanation')}.
    p.success-message.text-info.hide #{t('forgot.mail.sent')}.
    form(action="/forgot", method="post", autosubmit='autosubmit', autovalidate='autovalidate')
      ul.form-messages
      .form-group
        label= t('signup.email')
        input.form-control(type='text', name='email', tabindex=1, placeholder=t('forgot.mail.example'), validate='required email')
      .form-group: input.btn.btn-primary.btn-block(type='submit', tabindex=2, value=t('forgot.reset'))
