form(action="/forgot/reset", method="post")
  ul.form-errors
  .form-group
    label= t('New Password')
    input(type='password', name='password', placeholder=t('Password'))
  .form-group
    label= t('Re-type new password')
    input(type='password', name='re_password', placeholder=t('Repeat Password'))
  .form-group: input(type='submit', value=t('Reset Password!'))
