.forgot-container.small-container
  #forgot-form.reset
    .title-page 
      .circle
        i.icon-signin
      h1= t('Reset Password!')
    form.form(action="/forgot/reset", method="post", role="form", autovalidate='autovalidate', autosubmit='autosubmit')
      input(type='hidden', name='token', value=token)
      ul.form-messages
      .form-group
        label= t('New Password')
        input.form-control(type='password', name='password', tabindex=1, placeholder=t('Password'), validate='required min-length:6')
      .form-group
        label= t('Re-type new password')
        input.form-control(type='password', name='re_password', tabindex=2, placeholder=t('Repeat Password'), validate='required same:password')
      .form-group: input.btn.btn-primary(type='submit', tabindex=3, value=t('Send'))
