#profile-wrapper
  .profile-settings
    h2= t("Password")
    form.form(action="/settings/password", method="post", role="form")
      ul.form-messages
      .form-group
        label #{t('First name')}
        input.form-control(type='text', id="", name='firstName', tabindex=2, placeholder=t('First name'), value='#{citizen.firstName}')
      .form-group
        label #{t('Last name')}
        input.form-control(type='text', id="lastName", name='lastName', tabindex=3, placeholder=t('Last name'), value='#{citizen.lastName}')
      .form-group
        label= t('Email')
        input.form-control(type='email', name='email', tabindex=1, placeholder=t('example@email.com'), value='#{citizen.email}')
      .form-group: input.btn.btn-success.btn-block.btn-lg(type='submit', tabindex=5, value=t('Save'))
