#password-wrapper.hide
  .password-settings
    .heading
      .circle
        i.icon-lock
      h1= t('Change password')
    form.form(action="/settings/password", method="post", role="form")
      ul.form-messages
      .form-group
        label #{t('Current password')}
        input.form-control(type='password', name='current_password', tabindex=1, placeholder=t(''), value='')
      .form-group
        label #{t('New password')}
        input.form-control(type='password', name='password', tabindex=2, placeholder=t(''), value='')
      .form-group
        label= t('Confirm new password')
        input.form-control(type='password', name='confirm_password', tabindex=3, placeholder=t(''), value='')
      .form-group: input.btn.btn-success.btn-block.btn-lg(type='submit', tabindex=4, value=t('Save'))
