- clause = clause || {}

.law-clause(data-clause=clause.id)
  h4= t('admin-laws-form.clause.heading') + ' ' + clause.clauseId
  .clause-row
    .clause-group.clause-id
      label=t('admin-laws-form.clause.label.clauseId')
      input.form-control(type='text', name='clauses[#{clause.id}][clauseId]', value=clause.clauseId)
    .clause-group.clause-order
      label=t('admin-laws-form.clause.label.order')
      input.form-control(type='text', name='clauses[#{clause.id}][order]', value=clause.order)
  .clause-row
    label=t('admin-laws-form.clause.label.text')
    textarea.form-control(name='clauses[#{clause.id}][text]')= clause.text
  a.remove-clause.btn.btn-danger.btn-xs(href='#')= t('admin-laws-form.clause.button.delete')
