#law-wrapper
  .law-admin.col-md-10
    .heading
      .circle
        i.icon-user
      h1= t(form.title)
    form.form-horizontal(action=form.action, method="post", role="form", autocomplete="off", novalidate, autovalidate='autovalidate', autosubmit='autosubmit')
      input(type='hidden', name='_law_id_', value=law.id)
      ul.form-messages
      .form-group
        label.col-sm-2.control-label= t('admin-laws-form.label.mediaTitle')
        .col-sm-10
          input.form-control(type='text', id="mediaTitle", name='mediaTitle', tabindex=1, placeholder=t('admin-laws-form.label.mediaTitle'), value=law.mediaTitle, validate='required')
      .form-group
        label.col-sm-2.control-label= t('admin-laws-form.label.tag')
        .col-sm-10
          select.form-control(name='tag', tabindex=2, validate='required')
            - each tag in tags
              option(selected= law.tag ? tag.hash === law.tag.hash : false, value=tag.hash)= tag.name
      .form-group
        label.col-sm-2.control-label= t('admin-laws-form.label.lawId')
        .col-sm-10
          input.form-control(type='text', id="lawId", name='lawId', tabindex=3, placeholder=t('admin-laws-form.label.lawId'), value=law.lawId)
      .form-group
        label.col-sm-2.control-label= t('admin-laws-form.label.author')
        .col-sm-10
          input.form-control(type='text', id="lawAuthor", name='lawAuthor', tabindex=4, placeholder='John Doe', value=law.author, validate='author')
      .form-group
        label.col-sm-2.control-label= t('admin-laws-form.label.author') + ' URL'
        .col-sm-10
          input.form-control(type='text', id="authorUrl", name='authorUrl', tabindex=5, placeholder='http://en.wikipedia.org/wiki/John_Doe', value=law.authorUrl, validate='url')
      .form-group
        label.col-sm-2.control-label= t('admin-laws-form.label.votable')
        .col-sm-10.votable-toggle
      .form-group.hide
        label.col-sm-2.control-label= t('admin-laws-form.label.clause-truncation-text')
        .col-sm-10
          input.form-control(type='text', name='clauseTruncationText', placeholder=t('common.read-more'), value=law.clauseTruncationText)
      .form-group
        label.col-sm-2.control-label= t('admin-laws-form.label.source')
        .col-sm-10
          input.form-control(type='url', name='source', tabindex=6, placeholder=t('admin-laws-form.placeholder.source'), value=law.source, validate='url')
      .form-group
        label.col-sm-2.control-label= t('admin-laws-form.label.summary')
        .col-sm-10
          textarea.form-control(name='summary', tabindex=7)= law.summary
      .form-group.closingAt
        label.col-sm-2.control-label= t('admin-laws-form.label.closingAt')
        - var closingAt = ''
        - var closingAtTime = ''
        - if (law.closingAt)
          - closingAt = new Date(law.closingAt)
          - var closingAtTime = moment(closingAt).format('H:mm')
          - closingAt = closingAt.getFullYear() + '/' + (closingAt.getMonth() + 1) + '/' + closingAt.getDate()
        .col-sm-10
          .input-group
            input.form-control(name='closingAt', tabindex=10, readonly=true, value=closingAt)
            span.input-group-addon.clear-closingAt
              i.glyphicon.glyphicon-remove
          .input-group
            input.form-control(name='closingAtTime', tabindex=11, value=closingAtTime, placeholder='hh:mm', validate='time')
      .form-group
        .law-clauses
          - if (law.clauses && law.clauses.length)
            - each clause, idx in law.clauses
              include clause
            a.add-clause.btn.btn-info.btn-xs(href='#')= t('admin-laws-form.button.add-clause')
        span.add-clause-forbidden.hide=t('admin-laws-form.message.add-clause-forbidden')
      .form-group
        label.col-sm-2.control-label=t('admin-laws-form.label.resources')
        .law-links.col-sm-10
          - if (law.links && law.links.length)
            - each link, id in law.links
              include link
        .col-sm-2.pull-right
          a.add-link.btn.btn-block.btn-info(href='#')= t('admin-laws-form.button.add-link')
          .form-group: input.btn.btn-success.btn-block.btn-lg.hide(type='submit', tabindex=12, value=t('admin-laws-form.button.submit'))
        span.add-link-forbidden.hide=t('admin-laws-form.message.add-link-forbidden')
  .col-md-2
    .row.commands
      .row
        a.btn.btn-success.save
          span=t('admin-laws-form.button.submit')
      .row
        a.btn.btn-primary.make-private(class=law.public && law.id ? '' : 'hide')
          span=t('admin-laws-form.button.make-private')
      .row
        a.btn.btn-primary.make-public(class=law.draft && law.id ? '' : 'hide')
          span=t('admin-laws-form.button.make-public')
      - if (law.id)
        .row
          a.btn.btn-danger.delete-law
            span=t('admin-laws-form.delete-law.button.delete')
