#law-wrapper
  .law-admin
    .heading
      .circle
        i.icon-user
      h1= t(form.title)
    .publish-status.public-status(class=law.public && law.id ? '' : 'hide')
      p.bg-success
        span= t('admin-laws-form.message.public-status')
        a.make-private(href="#")= t('admin-laws-form.button.make-private')
    .publish-status.private-status(class=law.draft && law.id ? '' : 'hide')
      p.bg-warning
        span= t('admin-laws-form.message.private-status')
        a.make-public(href="#")= t('admin-laws-form.button.make-public')
    form.form(action=form.action, method="post", role="form", autocomplete="off", novalidate, autovalidate='autovalidate', autosubmit='autosubmit')
      input(type='hidden', name='_law_id_', value=law.id)
      ul.form-messages
      .form-group
        label= t('admin-laws-form.label.lawId')
        input.form-control(type='text', id="lawId", name='lawId', tabindex=1, placeholder=t('admin-laws-form.label.lawId'), value=law.lawId, validate='required')
      .form-group
        label= t('admin-laws-form.label.mediaTitle')
        input.form-control(type='text', id="mediaTitle", name='mediaTitle', tabindex=2, placeholder=t('admin-laws-form.label.mediaTitle'), value=law.mediaTitle, validate='required')
      .form-group
        label= t('admin-laws-form.label.source')
        input.form-control(type='url', name='source', tabindex=4, placeholder=t('admin-laws-form.placeholder.source'), value=law.source, validate='required url')
      .form-group
        label= t('admin-laws-form.label.tag')
        select.form-control(name='tag', tabindex=5)
          - each tag in tags
            option(selected= law.tag ? tag.hash === law.tag.hash : false, value=tag.hash)= tag.name
      .form-group
        label= t('admin-laws-form.label.summary')
        textarea.form-control(name='summary', tabindex=6)= law.summary
      .form-group.closingAt
        label= t('admin-laws-form.label.closingAt')
        - var closingAt = ''
        - if (law.closingAt)
          closingAt = new Date(law.closingAt)
          closingAtTime = closingAt.getHours() + ':' + closingAt.getMinutes()
          closingAt = closingAt.getFullYear() + '/' + (closingAt.getMonth() + 1) + '/' + closingAt.getDate()
        .input-group
          input.form-control(name='closingAt', tabindex=7, readonly=true, value=closingAt)
          span.input-group-addon.clear-closingAt
            i.glyphicon.glyphicon-remove
        .input-group
          input.form-control(name='closingAtTime', tabindex=8, readonly=true, value=closingAtTime)
          span.input-group-addon.clear-closingAtTime
            i.glyphicon.glyphicon-remove
      .form-group
        .law-clauses
          - if (law.clauses && law.clauses.length)
            - each clause, idx in law.clauses
              include clause
        a.add-clause.btn.btn-info.btn-xs(href='#')= t('admin-laws-form.button.add-clause')
        span.add-clause-forbidden.hide=t('admin-laws-form.message.add-clause-forbidden')
      .form-group: input.btn.btn-success.btn-block.btn-lg(type='submit', tabindex=9, value=t('admin-laws-form.button.submit'))
    a.delete-law.text-danger(href='#', class= law.id ? '' : 'hide')= t('admin-laws-form.delete-law.button.delete')
