- link = link || {}

.topic-link(data-link=link.id)
  .link-row
    .link-group.link-id
      input.form-control(type='text', name='links[#{link.id}][text]', value=link.text, validate='required', placeholder=t('admin-topics-form.clause.label.text'))
    .link-group.link-url
      input.form-control(type='text', name='links[#{link.id}][url]', validate='url', value=link.url, placeholder=t('admin-topics-form.url'))
    .link-group.link-commands
      a.remove-link.btn(href='#')
        span.glyphicon.glyphicon-trash
