.commands.row
  - if (topic.id)
    .col-sm-4
      a.btn.btn-danger.btn-block.delete-topic(class=topic.privileges && topic.privileges.canDelete ? '' : 'hide')
        span=t('admin-topics-form.delete-topic.button.delete')
  - if (!topic.id && !forum.privileges.canChangeTopics)
    .col-sm-4
      a.btn.btn-primary.btn-block.auto-save
        span=t('admin-topics-form.button.make-public')
  - if (topic.id && forum.privileges.canChangeTopics && topic.status === 'open')
    .col-sm-4
      button.btn.btn-warning.btn-block.archivar
        span Archivar
  - if (topic.id && forum.privileges.canChangeTopics && topic.status === 'closed')
    .col-sm-4
      button(disabled=true).btn.btn-warning.btn-block.archivar
        span Archivado
    
  .col-sm-4(class=topic.id && !forum.privileges.canChangeTopics ? '' : 'hide')
    a.btn.btn-success.btn-block.save
      span=t('admin-topics-form.button.submit')
