article.proposal
  //- .meta-information
  //-   a.meta-item.meta-location(href="#") Buenos Aires, Argentina
  //-   small.meta-item.meta-timeago 10 days left
  .meta-information
    span.label.label-default= proposal.title
    span.label.label-default(style="background:#{proposal.tag.color}")= proposal.tag.name
    - if (proposal.closingAt)
      small.meta-item.meta-timeago.ago(data-time=proposal.closingAt.toString())

  span.proposal-type.flaticon.solid.government-1       
  h2=proposal.mediaTitle

  p.summary=proposal.summary

  //- Article essay
  - var content = proposal.essay ? proposal.essay : proposal.content
  - var lines = content.split('\n');
  - each line in lines
    - if (line.trim())
      p!= line.trim()

  //- Article external links
  .links
    p
      span.glyphicon.glyphicon-link
      a(target="_blank", href="https://s3.amazonaws.com/osky-1234/#{proposal.lawId.replace('/','-')}.doc")
       | #{t('View the original text')}

  //- Article participants
  .participants
    - if(proposal.participants) {
      - var plural = 1 === proposal.participants.length ? '' : 's'
      span #{proposal.participants.length} #{t('Participant')}#{plural}
      - each participant in proposal.participants
        a.participant-profile(href="javascript:void();", title=participant.fullName)
          img.avatar(src=participant.avatar)
    - }

  //- Article share links
  //- .share-links
  //-   a(target="_blank", href="http://www.facebook.com/sharer.php?u=http://democraciaos.partidodelared.org/law/#{proposal.id}").flaticon.social.facebook  
  //-   a(target="_blank", href="http://twitter.com/share?text=DefaultTextWeWillShowInTwitter&url=http://democraciaos.partidodelared.org/law/#{proposal.id}").flaticon.social.twitter  
  //-   a(target="_blank", href="https://plus.google.com/share?url=http://democraciaos.partidodelared.org/law/#{proposal.id}").flaticon.social.google-plus 
