- var closed = proposal.closed
.inner-container
  - var learnMore = config['learn more url']
  - if (learnMore)
    div.alert.alert-warning.alert-dismissable.system-alert
      button(type="button", class="close", data-dismiss="alert", aria-hidden="true")
      span #{t('proposal-article.article.alert.text')}&nbsp;&nbsp;
      a.alert-link(href=learnMore, target="_blank") #{t('proposal-article.article.alert.learn-more')}


  article.proposal.commentable-container
    //- .meta-information
    //-   a.meta-item.meta-location(href="#") Buenos Aires, Argentina
    //-   small.meta-item.meta-timeago 10 days left

    .entry-tag(style="border-color: #{proposal.tag.color}")

      img(src=tagImages[proposal.tag.image].url, style="fill: white;")

      svg(viewbox='0 0 126 144', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns').hexagon
        title Hexagon
        description Created with Sketch (http://www.bohemiancoding.com/sketch)
        g#Page-1(fill='none', fill-rule='evenodd', sketch:type='MSPage')
          polygon#Polygon-1(d='M63,0 L125.353829,36 L125.353829,108 L63,144 L0.646170928,108 L0.646170928,36 L63,0 Z M63,0', fill='#{proposal.tag.color}', sketch:type='MSShapeGroup', points='63 0 125.353829 36 125.353829 108 63 144 0.646170928 108 0.646170928 36 ')

      span(style="color: #{proposal.tag.color}")= proposal.tag.name

    .meta-information
      p
        i.icon-time
        - if (proposal.closingAt)
          span.time-ago-label= (closed ? t('Closed') : t('Close')) + " "
          span.meta-item.meta-timeago.ago(data-time=proposal.closingAt.toString())
        - else
          span.meta-item.meta-timeago= t('Unknown closing date')

    h1=proposal.mediaTitle
    - if (proposal.author)
      h2.author=t('admin-laws-form.label.author') + ': '
        - if (proposal.authorUrl)
          a(href=proposal.authorUrl, target='_blank')=proposal.author
        - else
          =proposal.author
    h3=proposal.title
    .entry-content
      - var summary = proposal.summary
      - var paragraphs = summary.split("\n")
      .summary
        - each p, i in paragraphs
          - if (p != '')
            p.commentable-section(data-section-id=proposal.id + '-' + i)!=p


      .clauses
        - if (clauses.length)
          - each clause, i in clauses
            - var classes = ['hide']
            - classes.push(clause.centered ? 'text-center' : '')
            - var text = (clause.clauseName ? clause.clauseName + ': ' : '') + clause.text
            p.clause.commentable-section(class=classes, data-section-id=clause.id)!=text
          - if (clauses.length > 0)
            - if (proposal.clauseTruncationText)
              a.read-more(href="#")= proposal.clauseTruncationText
            - else
              a.read-more(href="#")= t('read more')

    //- Article source
    - if (proposal.source)
      .source
        p
          span.glyphicon.glyphicon-link
          a(target="_blank", href="#{proposal.source}")
           | #{t('View the original text')}

    //- Article links
    - if (proposal.links && proposal.links.length)
      .links
        h5=t('More information')
        - each link in proposal.links
          p
            span.glyphicon.glyphicon-share
            a(target="_blank", href=link.url)=link.text

    //- Article participants
    .participants(class=proposal.votable ? '' : 'hide')
      //- Rendered by participants view

    //- Article share links
    .share-links
      a(target="_blank", href="http://www.facebook.com/sharer.php?u=#{baseUrl}/law/#{proposal.id}").flaticon.social.facebook  
      a(target="_blank", href="http://twitter.com/share?text=#{proposal.mediaTitle}&url=#{baseUrl}/law/#{proposal.id}").flaticon.social.twitter  
      a(target="_blank", href="https://plus.google.com/share?url=#{baseUrl}/law/#{proposal.id}").flaticon.social.google-plus 
