- var closed = proposal.closed//proposal.closingAt && +new Date(proposal.closingAt) < Date.now()
.inner-container
  div.alert.alert-warning.alert-dismissable.system-alert
    button(type="button", class="close", data-dismiss="alert", aria-hidden="true")
    span #{t('All data will expire on December 10, 2013')}&nbsp;&nbsp;
    a.alert-link(href="http://wiki.partidodelared.org/index.php/Versi%C3%B3n_de_prueba_de_Democracia_OS", target="_blank") #{t('Why?')}
  

  article.proposal
    //- .meta-information
    //-   a.meta-item.meta-location(href="#") Buenos Aires, Argentina
    //-   small.meta-item.meta-timeago 10 days left

    .entry-tag(style="border-color: #{proposal.tag.color}")

      img(src="/boot/images/tags/#{proposal.tag.hash}.svg", style="fill: white;")

      svg(viewbox='0 0 126 144', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns').hexagon
        title Hexagon
        description Created with Sketch (http://www.bohemiancoding.com/sketch)
        g#Page-1(fill='none', fill-rule='evenodd', sketch:type='MSPage')
          polygon#Polygon-1(d='M63,0 L125.353829,36 L125.353829,108 L63,144 L0.646170928,108 L0.646170928,36 L63,0 Z M63,0', fill='#{proposal.tag.color}', sketch:type='MSShapeGroup', points='63 0 125.353829 36 125.353829 108 63 144 0.646170928 108 0.646170928 36 ')

      span(style="color: #{proposal.tag.color}")= proposal.tag.name

    .meta-information
      p
        i.icon-time
        - if (proposal.closingAt)
          span.time-ago-label= (closed ? t('Closed') : t('Close')) + " "
          span.meta-item.meta-timeago.ago(data-time=proposal.closingAt.toString())
        - else
          span.meta-item.meta-timeago= t('Unknown closing date')

    h1=proposal.mediaTitle
    h3=proposal.title 
    .entry-content
      p.summary!=proposal.summary

      .clauses
        - var lines = clauses ? clauses : (proposal.essay || proposal.content || '').split('\n')
        - if (lines.length)
          p.clause!=truncate(lines[0], 230, '... ')
            - if (lines[0].length > 230 || lines.length > 1)
              a.read-more(href="#")= t('read more')

    //- Article external links
    .links
      p
        span.glyphicon.glyphicon-link
        a(target="_blank", href="#{proposal.source}")
         | #{t('View the original text')}

    //- Article participants
    .participants
      //- Rendered by participants view

    //- Article share links
    .share-links
      a(target="_blank", href="http://www.facebook.com/sharer.php?u=#{baseUrl}/law/#{proposal.id}").flaticon.social.facebook  
      a(target="_blank", href="http://twitter.com/share?text=#{proposal.mediaTitle}&url=#{baseUrl}/law/#{proposal.id}").flaticon.social.twitter  
      a(target="_blank", href="https://plus.google.com/share?url=#{baseUrl}/law/#{proposal.id}").flaticon.social.google-plus 
