article.proposal

  small 10 days left

  h2=proposal.title

  a.meta-item.meta-location(href="#") Buenos Aires, Argentina

  .meta-data
    

  //- .voting-process
    //- span.

  //- Mejorar esto!
  - var lines = proposal.essay.split('\n');
  - each line in lines
    - if (line.trim())
      p=line.trim()

  .participants
    - var plural = 1 === proposal.participants.length ? '' : 's'
      span #{proposal.participants.length} Participant#{plural}

    - each participant in proposal.participants
      a.participant-profile(href="javascript:void();", title=participant.fullName)
        img.avatar(src=participant.avatar)

  .share-links
    a(href="").flaticon.social.facebook  
    a(href="").flaticon.social.twitter  
    a(href="").flaticon.social.google-plus 