#profile-wrapper.hide(data-section=urlBuilder.for('settings.profile'))
  .profile-settings
    .heading
      .circle
        i.icon-user
      h1= t('settings.profile')
    form.form(action="/api/settings/profile", method="post", role="form", autocomplete="off", autovalidate='autovalidate', autosubmit='autosubmit')
      ul.form-messages
      .form-group
        label #{t('settings.first-name')}
        input.form-control(type='text', id="firstName", name='firstName', tabindex=1, maxlength=100, placeholder=t('settings.first-name'), value='#{user.firstName}', validate='required firstname')
      .form-group
        label #{t('settings.last-name')}
        input.form-control(type='text', id="lastName", name='lastName', tabindex=2, maxlength=100, placeholder=t('settings.last-name'), value='#{user.lastName}', validate='required lastname')
      .form-group
        label= t('signup.email')
        input.form-control(type='text', disabled='disabled', name='email', maxlength=200, tabindex=3, placeholder=t('forgot.mail.example'), value='#{user.email}', validate='required email')
      .form-group
        label #{t('settings.locale')}
        select.form-control(id='locale', name='locale', tabindex=4)
        //- input.form-control(type='text', id="lastName", name='lastName', tabindex=2, placeholder=t('settings.last-name'), value='#{user.lastName}', validate='required lastname')
      .form-group.profile-picture
        .image-container
          img(src=user.profilePicture(), width="65")
        .controls
          a(href="https://gravatar.com", target="_blank")
            strong= t('settings.change-at-gravatar')
          input.form-control(type='text', name='profilePictureUrl', maxlength=200 tabindex=5, placeholder=t('settings.paste-url-image'), value=user.profilePictureUrl, validate='url')
      .form-group: button.btn.btn-success.btn-block.btn-lg(tabindex=6)=t('settings.save')
