#profile-wrapper.hide
  .profile-settings
    .heading
      .circle
        i.icon-user
      h1= t('Profile')
    form.form(action="/settings/profile", method="post", role="form", autocomplete="off")
      ul.form-messages
      .form-group
        label #{t('First name')}
        input.form-control(type='text', id="firstName", name='firstName', tabindex=1, placeholder=t('First name'), value='#{citizen.firstName}')
      .form-group
        label #{t('Last name')}
        input.form-control(type='text', id="lastName", name='lastName', tabindex=2, placeholder=t('Last name'), value='#{citizen.lastName}')
      .form-group
        label= t('Email')
        input.form-control(type='email', disabled='disabled' name='email', tabindex=3, placeholder=t('example@email.com'), value='#{citizen.email}')
      .form-group
        a(href="https://gravatar.com", target="_blank")
          img(src=citizen.gravatar, width="30")
          strong= t('Change your profile picture at gravatar.com')
      .form-group: input.btn.btn-success.btn-block.btn-lg(type='submit', tabindex=4, value=t('Save'))
