#settings-container
  #settings
    .sidebar-container
      ul.settings-menu
        li.heading= t('settings.title')
        li: a(href=urlBuilder.for('settings.profile'))
          = t('settings.profile')
        li: a(href=urlBuilder.for('settings.password'))
          = t('password')
        li: a(href=urlBuilder.for('settings.notifications'))
          = t('settings.notifications')
        - if (config.multiForum && user.privileges && user.privileges.canManage)
          li: a(href=urlBuilder.for('settings.forums'))
            = t('settings.sidebar.forums')
        - if (user.staff)
          li: a(href=urlBuilder.for('settings.user-badges'))
            = t('settings.user-badges')
    .settings-content
