.forgot-container.small-container
  #forgot-form.reset
    .title-page
      .circle
        i.icon-signin
      h1= t('forgot.reset')
    form.form(action="/api/forgot/reset", method="post", role="form", autovalidate='autovalidate', autosubmit='autosubmit')
      input(type='hidden', name='token', value=token)
      ul.form-messages
      .form-group
        label= t('password.new')
        input.form-control(type='password', name='password', tabindex=1, placeholder=t('password'), validate='required min-length:6')
      .form-group
        label= t('password.retype')
        input.form-control(type='password', name='re_password', tabindex=2, placeholder=t('password.repeat'), validate='required same:password')
      .form-group: input.btn.btn-primary(type='submit', tabindex=3, value=t('form.send'))
