- var own = reply.author.id == citizen.id

li.media.reply-item(data-id=reply.id, data-comment-id=comment.id)
  .arrow-up
  .arrow-up.inner
  span.pull-left
    - var src = reply.author.profilePictureUrl ? reply.author.profilePictureUrl : reply.author.gravatar
    img(src=src).avatar

  .media-body
    h5.media-heading
      - if (own || citizen.staff)
        .actions
          a.comment-action.link-remove.btn-reply-remove(href="#", title=t('Remove argument'))
            i.icon-remove
          - if (own)
            a.comment-action.link-edit.btn-reply-edit(href="#", title=t('comments.edit.argument'))
              i.icon-pencil
      | #{reply.author.fullName}
      small.ago(data-time=reply.createdAt.toString())
      - if (reply.editedAt)
        small.edited · #{t('comments.edited')}
      small=':'
    .reply-body
      div.reply-text!=markdown(reply.text)
      - if (own || citizen.staff)
        div.onreply.remove-reply= t('comments.replies.confirm-remove')
          - if (!own)
            br
            =t('You are removing this argument as a staff member')
          div.remove-confirm-actions
            a.confirm-reply-remove(href='#')= t('common.ok')
            a.cancel-reply-remove(href='#')= t('common.cancel')
      div.onreply.message
