- var own = reply.author.id == citizen.id

li.media.reply-item(data-id=reply.id, data-comment-id=comment.id)
  .arrow-up
  .arrow-up.inner
  span.pull-left
    img(src=reply.author.gravatar).avatar

  .media-body
    h5.media-heading
      - if (own)
        .actions
          a.comment-action.link-edit.btn-edit(href="#", title=t('comments.edit.argument'))
            i.icon-pencil
          a.comment-action.link-remove.btn-remove(href="#", title=t('Remove argument'))
            i.icon-remove
      | #{reply.author.fullName} 
      - if (reply.editedAt)
        small.edited #{t('comments.edited')}
      - var time = reply.editedAt ? reply.editedAt : reply.createdAt
      small.ago(data-time=time.toString())
      small :
    .reply-body
      div.reply-text!=markdown(reply.text)
