main.container
  .row
    article.feed-item.deployment-new-form.col-xs-12.col-md-8.col-md-offset-2
      .feed-top
        h1.feed-title Constitution
        p.feed-desc Settings and rules that apply to all proposals in this democracy.

      form.form(action="/democracies", method="post", role="form", novalidate, autovalidate, autosubmit)
        h2.feed-subtitle Democracy Info
        ul.form-errors

        .fieldsets
          fieldset
            label= t('deployment.form.url.label')
            .input-group
              span.input-group-addon= domain
              .form-group.clearfix.subdomain
                input(type='text', name='name', tabindex=1, validate='required subdomain', autofocus, id='hostname', autocorrect='off', autocapitalize='off')
              span.error.name-unavailable.hide URL is not available

          fieldset
            label= t('deployment.form.title.label')
            .form-group.clearfix.title
              input(type='text', name='title', tabindex=2, placeholder=t('deployment.form.title.placeholder'), validate='required')

        button.btn.btn-block.btn-primary.btn-lg(tabindex=5)=t('deployment.form.create.submit')
