#header-container
  a(href='#', id='toggleButton')
    - var headerFontColor = config.headerFontColor || '#fff';
    span.bar-icon(style='background-color: #{headerFontColor}')
    span.bar-icon(style='background-color: #{headerFontColor}')
    span.bar-icon(style='background-color: #{headerFontColor}')

    h1#logo
      a(href=config.homeLink || '/')
        - var mobileLogo = !!config.logoMobile
        - var classes = mobileLogo ? 'hidden-xs' : ''
        img(src=config.logo, class=classes).logo-image
        - if (mobileLogo)
          img(src=config.logoMobile).logo-image.visible-xs-inline-block
        //- span.logo-link=t('common.app-name')

  .user-nav.btn-group
    .user
    - var color = config.headerFontColor;
    - var style = color ? 'color: ' + color : '';
    a(href='/signin', style=style).login.pull-right.anonymous-user
      i.icon-signin
      span= t('header.signin')
    a(href='/signup', style=style).login.pull-right.anonymous-user
      i.icon-user
      span= t('header.signup')
    - var target = config.homeLink ? {} : { 'target': '_blank'};
    a.login.pull-left(href=config.organizationUrl, style=style)&attributes(target)
      span= config.organizationName

.ssl-warning.hide
  a(href='//docs.democracyos.org/configuration.html#ssl')= t('header.insecure-warning')