#header-container
  a(href='#', id='toggleButton')
    span.bar-icon
    span.bar-icon
    span.bar-icon

  - var logo = config['external logo']
  - if (logo)
    a.logo(href=config['home link'] || '/')
      h1(style='background-image: url("#{logo}")')=config['organization name']
  - else
    h1#logo.logo-title
      a(href=config['home link'] || '/')
        img(src=config['logo']).logo-image
        span.logo-link= t('common.app-name')

  .user-nav.btn-group
    .user
    a(href='/signin').login.pull-right.anonymous-citizen
      i.icon-signin
      span= t('header.signin')
    a(href='/signup').login.pull-right.anonymous-citizen
      i.icon-user
      span= t('header.signup')
    - var target = config['home link'] ? {} : { 'target': '_blank'};
    a.login.pull-left(href=config['organization url'])&attributes(target)
      span= config['organization name']
    //- a.login.pull-left(href='#', id='feedback')
    //-   span= t('header.feedback')
