#header-container
  a(href='#', id='toggleButton')
    span.bar-icon
    span.bar-icon
    span.bar-icon

  h1#logo
    a(href='/')
      img(src=config['logo']).logo
      span.logo-link= t('header.logo')

  .user-nav.btn-group
    - if (citizen.id)
      a.btn.profile.pull-right(href='#', data-toggle='dropdown').dropdown-toggle
          img(src=citizen.gravatar)
          span.name=citizen.firstName
          span.caret
      ul.dropdown-menu
          li
            a(href='/settings')= t('header.settings')
          li
            a(href='/logout')= t('header.logout')
    - else
      a(href='/signin').login.pull-right
        i.icon-signin
        span= t('header.signin')
      a(href='/signup').login.pull-right
        i.icon-user
        span= t('header.signup')
    a.login.pull-left(href=config['organization url'], target='_blank')
      span= config['organization name']
    //- a.login.pull-left(href='#', id='feedback')
    //-   span= t('header.feedback')