.signin-container.inner-container.small-container
  #signin-form
    .title-page 
      .circle
        i.icon-signin
      h1 #{t('Login to') + " " + t('DemocracyOS')}

    form.form(action="/signin", method="post", role="form")
      ul.form-errors
      .form-group
        label= t('Email')
        input.form-control(type='email', name='email', tabindex=1, placeholder=t('example@email.com'))
      .form-group
        label= t('Password')
        .forgot: a(href='/forgot', tabindex=4) #{t('Forgot Password?')}
        
        input.form-control(type='password', name='password', tabindex=2, placeholder=t('Password'))
      .form-group: .signup
        span=t('Don\'t have an account?')
        a(href='/signup', tabindex=3) #{t('Signup now')}
      .form-group: input.btn.btn-block.btn-primary.btn-lg(type='submit', tabindex=4, value=t('Login'))
