.newsfeed-content
  - if (user.logged())
    .forum-settings
  - else
    .text-center
      h1=t('newsfeed.welcome.title')
      p!=t('newsfeed.welcome.body')
  h2= t('newsfeed.title')
  section.forums
  .pagination
    p.loading-container.hide
    button.btn.purple.btn-block.load-more.hide= t('newsfeed.button.load-more')
    p.nothing.hide.text-center= t('newsfeed.nothing-to-show')
