#laws-filter
  - var formatNumber = function(v) {
  -  return v <= 99 ? v + ' ' : '99+ ';
  - };
  - var open = formatNumber(filter.countFiltered('open'));
  - var closed = formatNumber(filter.countFiltered('closed'));
  #status-filter.btn-group.btn-group-justified
    a.btn.btn-default(class="open" === filter.get('status') ? "active" : "",
      data-status='open'
      )= open + t('sidebar.open')
    a.btn.btn-default(class="closed" === filter.get('status') ? "active" : "",
      data-status='closed'
      )= closed + t('sidebar.closed')

  #sort-filter.btn-group
    button.btn.btn-default.current-department(type='button', data-toggle='dropdown')
      span.pull-left= t(filter.sorts[filter.get('sort')].label)
      span.caret
    ul.dropdown-menu
      - each sort, key in filter.sorts
        - var active = false;
        - if (sort == filter.sort)
          - active = true;
        li(data-sort=key, class= active ? 'active' : '')
          a(href='#')= t(sort.label)

      //- Rendered from client's view

  -if (citizen.logged())
    #hide-voted-filter.hide-voted-box
      input#hide-voted(type='checkbox',
        name='hide-voted',
        checked= filter.get('hide-voted')
        )
      label(for='hide-voted')= t('sidebar.hide-voted')
